/**
 * Grid fluid (on small)
 */

 @media only screen and (max-width: 767px) {

	.grid-fluid {
		margin-left: -$gutter-onSmall;

		&.grid-padding {
			padding-left: $gutter-onSmall;
			padding-right: $gutter-onSmall;
		}

		// 12 columns system
		&.onSmall-hidden,
		.onSmall-hidden {
			display: none;
		}

		&.onSmall-visible,
		.onSmall-visible {
			display: block;
		}

		.onSmall-width-1-12 {
			@extend .width;
			width: calc(100% / 12 - #{ $gutter-onSmall });
		}

		.onSmall-width-2-12,
		.onSmall-width-1-6 {
			@extend .width;
			width: calc(100% / 12 * 2 - #{ $gutter-onSmall });
		}

		.onSmall-width-3-12,
		.onSmall-width-1-4 {
			@extend .width;
			width: calc(100% / 12 * 3 - #{ $gutter-onSmall });
		}

		.onSmall-width-4-12,
		.onSmall-width-2-6,
		.onSmall-width-1-3 {
			@extend .width;
			width: calc(100% / 12 * 4 - #{ $gutter-onSmall });
		}

		.onSmall-width-5-12 {
			@extend .width;
			width: calc(100% / 12 * 5 - #{ $gutter-onSmall });
		}

		.onSmall-width-6-12,
		.onSmall-width-3-6,
		.onSmall-width-2-4,
		.onSmall-width-1-2 {
			@extend .width;
			width: calc(100% / 12 * 6 - #{ $gutter-onSmall });
		}

		.onSmall-width-7-12 {
			@extend .width;
			width: calc(100% / 12 * 7 - #{ $gutter-onSmall });
		}

		.onSmall-width-8-12,
		.onSmall-width-4-6,
		.onSmall-width-2-3 {
			@extend .width;
			width: calc(100% / 12 * 8 - #{ $gutter-onSmall });
		}

		.onSmall-width-9-12,
		.onSmall-width-3-4 {
			@extend .width;
			width: calc(100% / 12 * 9 - #{ $gutter-onSmall });
		}

		.onSmall-width-10-12,
		.onSmall-width-5-6 {
			@extend .width;
			width: calc(100% / 12 * 10 - #{ $gutter-onSmall });
		}

		.onSmall-width-11-12 {
			@extend .width;
			width: calc(100% / 12 * 11 - #{ $gutter-onSmall });
		}

		.onSmall-width-12-12,
		.onSmall-width-6-6,
		.onSmall-width-4-4,
		.onSmall-width-3-3,
		.onSmall-width-2-2,
		.onSmall-width-1-1 {
			@extend .width;
			width: calc(100% - #{ $gutter-onSmall });
		}

		// Skip columns
		.onSmall-skip-1-12 {
			margin-left: calc(100% / 12 + #{ $gutter-onSmall });
		}

		.onSmall-skip-2-12,
		.onSmall-skip-1-6 {
			margin-left: calc(100% / 12 * 2 + #{ $gutter-onSmall });
		}

		.onSmall-skip-3-12,
		.onSmall-skip-1-4 {
			margin-left: calc(100% / 12 * 3 + #{ $gutter-onSmall });
		}

		.onSmall-skip-4-12,
		.onSmall-skip-2-6,
		.onSmall-skip-1-3 {
			margin-left: calc(100% / 12 * 4 + #{ $gutter-onSmall });
		}

		.onSmall-skip-5-12 {
			margin-left: calc(100% / 12 * 5 + #{ $gutter-onSmall });
		}

		.onSmall-skip-6-12,
		.onSmall-skip-3-6,
		.onSmall-skip-2-4,
		.onSmall-skip-1-2 {
			margin-left: calc(100% / 12 * 6 + #{ $gutter-onSmall });
		}

		.onSmall-skip-7-12 {
			margin-left: calc(100% / 12 * 7 + #{ $gutter-onSmall });
		}

		.onSmall-skip-8-12,
		.onSmall-skip-4-6,
		.onSmall-skip-2-3 {
			margin-left: calc(100% / 12 * 8 + #{ $gutter-onSmall });
		}

		.onSmall-skip-9-12,
		.onSmall-skip-3-4 {
			margin-left: calc(100% / 12 * 9 + #{ $gutter-onSmall });
		}

		.onSmall-skip-10-12,
		.onSmall-skip-5-6 {
			margin-left: calc(100% / 12 * 10 + #{ $gutter-onSmall });
		}

		.onSmall-skip-12-12,
		.onSmall-skip-6-6,
		.onSmall-skip-4-4,
		.onSmall-skip-3-3,
		.onSmall-skip-2-2,
		.onSmall-skip-1-1 {
			margin-left: calc(100% / 12 * 11 + #{ $gutter-onSmall });
		}

		// Right to left
		&.grid-rtl {

			// Skip columns
			.onSmall-skip-1-12 {
				margin-left: $gutter-onSmall;
				margin-right: calc(100% / 12);
			}

			.onSmall-skip-2-12,
			.onSmall-skip-1-6 {
				margin-left: $gutter-onSmall;
				margin-right: calc(100% / 12 * 2);
			}

			.onSmall-skip-3-12,
			.onSmall-skip-1-4 {
				margin-left: $gutter-onSmall;
				margin-right: calc(100% / 12 * 3);
			}

			.onSmall-skip-4-12,
			.onSmall-skip-2-6,
			.onSmall-skip-1-3 {
				margin-left: $gutter-onSmall;
				margin-right: calc(100% / 12 * 4);
			}

			.onSmall-skip-5-12 {
				margin-left: $gutter-onSmall;
				margin-right: calc(100% / 12 * 5);
			}

			.onSmall-skip-6-12,
			.onSmall-skip-3-6,
			.onSmall-skip-2-4,
			.onSmall-skip-1-2 {
				margin-left: $gutter-onSmall;
				margin-right: calc(100% / 12 * 6);
			}

			.onSmall-skip-7-12 {
				margin-left: $gutter-onSmall;
				margin-right: calc(100% / 12 * 7);
			}

			.onSmall-skip-8-12,
			.onSmall-skip-4-6,
			.onSmall-skip-2-3 {
				margin-left: $gutter-onSmall;
				margin-right: calc(100% / 12 * 8);
			}

			.onSmall-skip-9-12,
			.onSmall-skip-3-4 {
				margin-left: $gutter-onSmall;
				margin-right: calc(100% / 12 * 9);
			}

			.onSmall-skip-10-12,
			.onSmall-skip-5-6 {
				margin-left: $gutter-onSmall;
				margin-right: calc(100% / 12 * 10);
			}

			.onSmall-skip-12-12,
			.onSmall-skip-6-6,
			.onSmall-skip-4-4,
			.onSmall-skip-3-3,
			.onSmall-skip-2-2,
			.onSmall-skip-1-1 {
				margin-left: $gutter-onSmall;
				margin-right: calc(100% / 12 * 11 + #{ $gutter-onSmall });
			}
		}
	}
}