/**
 * Header
 */

.header {
	background-color: $color-defaultBackground;
	color: $color-defaultForeground;
	margin-bottom: $margin-double;
	overflow: hidden;
	padding-bottom: $margin-single;
	padding-top: $margin-single;

	*:last-child {
		margin-bottom: 0;
	}
}