/**
 * Color
 */

$color-defaultForeground: #fff;
$color-defaultBackground: #888;

$color-darkGrey: #555;
$color-green: #6b8e23;
$color-purple: #9370db;
$color-teal: #008080;


/**
 * Fluid grid
 */

$gutter-default: 1rem;
$gutter-onSmall: 1rem;
$gutter-onMedium: 1rem;
$gutter-onLarge: 1rem;


/**
 * Margin and padding
 */

$margin-single: 1rem;
$margin-double: 2rem;