@mixin font-size($fontSize: 16) {
	font-size: $fontSize + px;
	font-size: ($fontSize / 16) + rem;
}

@mixin text-block($fontSize: 16, $lineHeight: 1.2) {
	margin-top: ($fontSize / 16) + rem;
	margin-bottom: ($fontSize / 16) + rem;
	font-size: $fontSize + px;
	font-size: ($fontSize / 16) + rem;
	line-height: $lineHeight;
}

@mixin px-rem($property, $value: 1) {
	#{$property}: $value + px;
	#{$property}: ($value / 16) + rem;
}