html {
	font: 62.5% "Arial";
}

body {
	@include font-size(1.6);
	line-height: 1.2;
}


.h1,
.normalize h1 {
	@include text-size(3);
}

.h2,
.normalize h2 {
	@include text-size(2);
}

.h3,
.normalize h3 {
	@include text-size();
	color: $darkGrey;
}

.p,
.normalize p {
	@include text-size();
}

.hr,
.normalize hr {
	height: 1px;
	margin-top: 3.2rem;
	margin-bottom: 3.2rem;
	border: none;
	background-color: $darkGrey;
}