/**
 * Color
 */
/**
 * Default text
 */
/* line 5, element/text/_text.scss */
html {
  font-family: "Arial";
  line-height: 1.2;
}

/**
 * Heading
 */
/* line 16, element/text/_text.scss */
.h1,
.wysiwyg h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 21, element/text/_text.scss */
.h2,
.wysiwyg h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 26, element/text/_text.scss */
.h3,
.wysiwyg h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 31, element/text/_text.scss */
.h4,
.wysiwyg h4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/**
 * Paragrapgh
 */
/* line 41, element/text/_text.scss */
.p,
.wysiwyg p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/**
 * Other
 */
/* line 51, element/text/_text.scss */
.hr,
.wysiwyg hr {
  background-color: #555555;
  border: none;
  height: 1px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
