/* line 1, element/text/_text.scss */
html {
  font: 62.5% "Arial";
}

/* line 5, element/text/_text.scss */
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.2;
}

/* line 9, element/text/_text.scss */
.h1 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

/* line 14, element/text/_text.scss */
.h2 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

/* line 19, element/text/_text.scss */
.p {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
