/**
 * Text
 */
/**
 * Convertor
 */
/**
 * Body
 */
/* line 5, ../global/_style.scss */
body {
  margin: 0;
}

/**
 * Color
 */
/**
 * Variable
 */
/**
 * Grid
 */
/* line 12, ../component/grid/style/_grid.scss */
.grid, .grid_12 {
  margin-left: -0.5rem;
  overflow: hidden;
}
/* line 16, ../component/grid/style/_grid.scss */
.grid .cell, .grid_12 .cell, .grid_12 .cell_1, .grid_12 .cell_2, .grid_12 .cell_3, .grid_12 .cell_4, .grid_12 .cell_5, .grid_12 .cell_6, .grid_12 .cell_7, .grid_12 .cell_8, .grid_12 .cell_9, .grid_12 .cell_10, .grid_12 .cell_11, .grid_12 .cell_12 {
  float: left;
  margin-left: 0.5rem;
}
/* line 21, ../component/grid/style/_grid.scss */
.grid .demo, .grid_12 .demo, .grid .demo_a, .grid_12 .demo_a, .grid .demo_b, .grid_12 .demo_b {
  font-size: 0.75rem;
  color: #fff;
  line-height: 2;
  margin-bottom: 0.5rem;
  text-align: center;
}
/* line 29, ../component/grid/style/_grid.scss */
.grid .demo_a, .grid_12 .demo_a {
  background-color: mediumpurple;
}
/* line 34, ../component/grid/style/_grid.scss */
.grid .demo_b, .grid_12 .demo_b {
  background-color: teal;
}

/* line 43, ../component/grid/style/_grid.scss */
.grid_12 .cell_1 {
  width: calc(100% / 12 - 0.5rem);
}
/* line 48, ../component/grid/style/_grid.scss */
.grid_12 .cell_2 {
  width: calc(100% / 12 * 2 - 0.5rem);
}
/* line 53, ../component/grid/style/_grid.scss */
.grid_12 .cell_3 {
  width: calc(100% / 12 * 3 - 0.5rem);
}
/* line 58, ../component/grid/style/_grid.scss */
.grid_12 .cell_4 {
  width: calc(100% / 12 * 4 - 0.5rem);
}
/* line 63, ../component/grid/style/_grid.scss */
.grid_12 .cell_5 {
  width: calc(100% / 12 * 5 - 0.5rem);
}
/* line 68, ../component/grid/style/_grid.scss */
.grid_12 .cell_6 {
  width: calc(100% / 12 * 6 - 0.5rem);
}
/* line 73, ../component/grid/style/_grid.scss */
.grid_12 .cell_7 {
  width: calc(100% / 12 * 7 - 0.5rem);
}
/* line 78, ../component/grid/style/_grid.scss */
.grid_12 .cell_8 {
  width: calc(100% / 12 * 8 - 0.5rem);
}
/* line 83, ../component/grid/style/_grid.scss */
.grid_12 .cell_9 {
  width: calc(100% / 12 * 9 - 0.5rem);
}
/* line 88, ../component/grid/style/_grid.scss */
.grid_12 .cell_10 {
  width: calc(100% / 12 * 10 - 0.5rem);
}
/* line 93, ../component/grid/style/_grid.scss */
.grid_12 .cell_11 {
  width: calc(100% / 12 * 11 - 0.5rem);
}
/* line 98, ../component/grid/style/_grid.scss */
.grid_12 .cell_12 {
  width: calc(100% - 0.5rem);
}
/* line 103, ../component/grid/style/_grid.scss */
.grid_12 .skip_1 {
  margin-left: calc(100% / 12 + 0.5rem);
}
/* line 107, ../component/grid/style/_grid.scss */
.grid_12 .skip_2 {
  margin-left: calc(100% / 12 * 2 + 0.5rem);
}
/* line 111, ../component/grid/style/_grid.scss */
.grid_12 .skip_3 {
  margin-left: calc(100% / 12 * 3 + 0.5rem);
}
/* line 115, ../component/grid/style/_grid.scss */
.grid_12 .skip_4 {
  margin-left: calc(100% / 12 * 4 + 0.5rem);
}
/* line 119, ../component/grid/style/_grid.scss */
.grid_12 .skip_5 {
  margin-left: calc(100% / 12 * 5 + 0.5rem);
}
/* line 123, ../component/grid/style/_grid.scss */
.grid_12 .skip_6 {
  margin-left: calc(100% / 12 * 6 + 0.5rem);
}
/* line 127, ../component/grid/style/_grid.scss */
.grid_12 .skip_7 {
  margin-left: calc(100% / 12 * 7 + 0.5rem);
}
/* line 131, ../component/grid/style/_grid.scss */
.grid_12 .skip_8 {
  margin-left: calc(100% / 12 * 8 + 0.5rem);
}
/* line 135, ../component/grid/style/_grid.scss */
.grid_12 .skip_9 {
  margin-left: calc(100% / 12 * 9 + 0.5rem);
}
/* line 139, ../component/grid/style/_grid.scss */
.grid_12 .skip_10 {
  margin-left: calc(100% / 12 * 10 + 0.5rem);
}
/* line 143, ../component/grid/style/_grid.scss */
.grid_12 .skip_11 {
  margin-left: calc(100% / 12 * 11 + 0.5rem);
}

/**
 * Header
 */
/* line 5, ../component/header/style/_header.scss */
.header {
  background-color: #888888;
  color: white;
  overflow: hidden;
}

/**
 * Variable
 */
/**
 * Section
 */
/* line 12, ../component/section/style/_section.scss */
.section {
  margin: 2rem;
}

/**
 * Button
 */
/* line 5, ../element/button/style/_button.scss */
.button, .button_green {
  background-color: #888888;
  border: none;
  color: white;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
/* line 13, ../element/button/style/_button.scss */
.button:hover, .button_green:hover {
  background-color: #a2a2a2;
}

/* line 18, ../element/button/style/_button.scss */
.button_green {
  background-color: olivedrab;
}
/* line 21, ../element/button/style/_button.scss */
.button_green:hover {
  background-color: #8ab72d;
}

/**
 * List
 */
/* line 6, ../element/list/style/_list.scss */
.ul,
.wysiwyg ul {
  padding-left: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 12, ../element/list/style/_list.scss */
.ol,
.wysiwyg ol {
  padding-left: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 18, ../element/list/style/_list.scss */
.dl,
.wysiwyg dl {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/* line 21, ../element/list/style/_list.scss */
.dl dt,
.wysiwyg dl dt {
  font-weight: bold;
}
/* line 25, ../element/list/style/_list.scss */
.dl dd,
.wysiwyg dl dd {
  margin-left: 2.5rem;
}

/**
 * HTML
 */
/* line 5, ../element/text/style/_text.scss */
html {
  font-family: "Arial";
  line-height: 1.2;
  -webkit-text-size-adjust: none;
}

/**
 * Heading
 */
/* line 16, ../element/text/style/_text.scss */
.h1,
.wysiwyg h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 21, ../element/text/style/_text.scss */
.h2,
.wysiwyg h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 26, ../element/text/style/_text.scss */
.h3,
.wysiwyg h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #555555;
}

/* line 32, ../element/text/style/_text.scss */
.h4,
.wysiwyg h4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/**
 * Paragrapgh
 */
/* line 42, ../element/text/style/_text.scss */
.p, .p_large, .p_italic,
.wysiwyg p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 46, ../element/text/style/_text.scss */
.p_large {
  font-size: 1.5rem;
}

/* line 51, ../element/text/style/_text.scss */
.p_italic {
  font-style: italic;
}

/**
 * Other
 */
/* line 62, ../element/text/style/_text.scss */
.hr,
.wysiwyg hr {
  background-color: #555555;
  border: none;
  height: 1px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
