/**
 * Text
 */
/**
 * Convertor
 */
/**
 * Color
 */
/* No files to import found in component/*\/style/*.* */
/**
 * Button
 */
/* line 5, ../element/button/style/_button.scss */
.button, .button_green {
  background-color: #888888;
  border: none;
  color: white;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
/* line 13, ../element/button/style/_button.scss */
.button:hover, .button_green:hover {
  background-color: #a2a2a2;
}

/* line 18, ../element/button/style/_button.scss */
.button_green {
  background-color: olivedrab;
}
/* line 21, ../element/button/style/_button.scss */
.button_green:hover {
  background-color: #8ab72d;
}

/**
 * List
 */
/* line 6, ../element/list/style/_list.scss */
.ul,
.wysiwyg ul {
  padding-left: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 12, ../element/list/style/_list.scss */
.ol,
.wysiwyg ol {
  padding-left: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 18, ../element/list/style/_list.scss */
.dl,
.wysiwyg dl {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/* line 21, ../element/list/style/_list.scss */
.dl dt,
.wysiwyg dl dt {
  font-weight: bold;
}
/* line 25, ../element/list/style/_list.scss */
.dl dd,
.wysiwyg dl dd {
  margin-left: 2.5rem;
}

/**
 * Default text
 */
/* line 5, ../element/text/style/_text.scss */
html {
  font-family: "Arial";
  line-height: 1.2;
}

/**
 * Heading
 */
/* line 16, ../element/text/style/_text.scss */
.h1,
.wysiwyg h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 21, ../element/text/style/_text.scss */
.h2,
.wysiwyg h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* line 26, ../element/text/style/_text.scss */
.h3,
.wysiwyg h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #555555;
}

/* line 32, ../element/text/style/_text.scss */
.h4,
.wysiwyg h4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/**
 * Paragrapgh
 */
/* line 42, ../element/text/style/_text.scss */
.p,
.wysiwyg p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/**
 * Other
 */
/* line 52, ../element/text/style/_text.scss */
.hr,
.wysiwyg hr {
  background-color: #555555;
  border: none;
  height: 1px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
