/**
 * Text
 */
/**
 * Convertor
 */
/**
 * Body
 */
/* line 5, ../global/style/_style.scss */
body {
  margin: 0;
}

/**
 * Color
 */
/**
 * Margin and padding
 */
/**
 * Grid fluid
 */
/* line 5, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid {
  margin-left: -1rem;
  overflow: hidden;
}
/* line 9, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* line 15, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .demo, .grid-fluid .demo-a, .grid-fluid .demo-b {
  font-size: 0.75rem;
  color: #fff;
  line-height: 2;
  margin-bottom: 1rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 26, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .demo-a {
  background-color: mediumpurple;
}
/* line 31, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .demo-b {
  background-color: teal;
}
/* line 38, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width, .grid-fluid .width-1-12, .grid-fluid .width-2-12,
.grid-fluid .width-1-6, .grid-fluid .width-3-12,
.grid-fluid .width-1-4, .grid-fluid .width-4-12,
.grid-fluid .width-2-6,
.grid-fluid .width-1-3, .grid-fluid .width-5-12, .grid-fluid .width-6-12,
.grid-fluid .width-3-6,
.grid-fluid .width-2-4,
.grid-fluid .width-1-2, .grid-fluid .width-7-12, .grid-fluid .width-8-12,
.grid-fluid .width-4-6,
.grid-fluid .width-2-3, .grid-fluid .width-9-12,
.grid-fluid .width-3-4, .grid-fluid .width-10-12,
.grid-fluid .width-5-6, .grid-fluid .width-11-12, .grid-fluid .width-12-12,
.grid-fluid .width-6-6,
.grid-fluid .width-4-4,
.grid-fluid .width-3-3,
.grid-fluid .width-2-2,
.grid-fluid .width-1-1 {
  float: left;
  margin-left: 1rem;
  box-sizing: border-box;
}
/* line 44, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width-1-12 {
  width: calc(100% / 12 - 1rem);
}
/* line 50, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width-2-12,
.grid-fluid .width-1-6 {
  width: calc(100% / 12 * 2 - 1rem);
}
/* line 56, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width-3-12,
.grid-fluid .width-1-4 {
  width: calc(100% / 12 * 3 - 1rem);
}
/* line 63, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width-4-12,
.grid-fluid .width-2-6,
.grid-fluid .width-1-3 {
  width: calc(100% / 12 * 4 - 1rem);
}
/* line 68, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width-5-12 {
  width: calc(100% / 12 * 5 - 1rem);
}
/* line 76, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width-6-12,
.grid-fluid .width-3-6,
.grid-fluid .width-2-4,
.grid-fluid .width-1-2 {
  width: calc(100% / 12 * 6 - 1rem);
}
/* line 81, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width-7-12 {
  width: calc(100% / 12 * 7 - 1rem);
}
/* line 88, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width-8-12,
.grid-fluid .width-4-6,
.grid-fluid .width-2-3 {
  width: calc(100% / 12 * 8 - 1rem);
}
/* line 94, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width-9-12,
.grid-fluid .width-3-4 {
  width: calc(100% / 12 * 9 - 1rem);
}
/* line 100, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width-10-12,
.grid-fluid .width-5-6 {
  width: calc(100% / 12 * 10 - 1rem);
}
/* line 105, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width-11-12 {
  width: calc(100% / 12 * 11 - 1rem);
}
/* line 115, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .width-12-12,
.grid-fluid .width-6-6,
.grid-fluid .width-4-4,
.grid-fluid .width-3-3,
.grid-fluid .width-2-2,
.grid-fluid .width-1-1 {
  width: calc(100% - 1rem);
}
/* line 121, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .skip-1-12 {
  margin-left: calc(100% / 12 + 1rem);
}
/* line 126, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .skip-2-12,
.grid-fluid .skip-1-6 {
  margin-left: calc(100% / 12 * 2 + 1rem);
}
/* line 131, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .skip-3-12,
.grid-fluid .skip-1-4 {
  margin-left: calc(100% / 12 * 3 + 1rem);
}
/* line 137, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .skip-4-12,
.grid-fluid .skip-2-6,
.grid-fluid .skip-1-3 {
  margin-left: calc(100% / 12 * 4 + 1rem);
}
/* line 141, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .skip-5-12 {
  margin-left: calc(100% / 12 * 5 + 1rem);
}
/* line 148, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .skip-6-12,
.grid-fluid .skip-3-6,
.grid-fluid .skip-2-4,
.grid-fluid .skip-1-2 {
  margin-left: calc(100% / 12 * 6 + 1rem);
}
/* line 152, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .skip-7-12 {
  margin-left: calc(100% / 12 * 7 + 1rem);
}
/* line 158, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .skip-8-12,
.grid-fluid .skip-4-6,
.grid-fluid .skip-2-3 {
  margin-left: calc(100% / 12 * 8 + 1rem);
}
/* line 163, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .skip-9-12,
.grid-fluid .skip-3-4 {
  margin-left: calc(100% / 12 * 9 + 1rem);
}
/* line 168, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .skip-10-12,
.grid-fluid .skip-5-6 {
  margin-left: calc(100% / 12 * 10 + 1rem);
}
/* line 177, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid .skip-12-12,
.grid-fluid .skip-6-6,
.grid-fluid .skip-4-4,
.grid-fluid .skip-3-3,
.grid-fluid .skip-2-2,
.grid-fluid .skip-1-1 {
  margin-left: calc(100% / 12 * 11 + 1rem);
}
/* line 183, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-rtl .width, .grid-fluid.grid-rtl .width-1-12, .grid-fluid.grid-rtl .width-2-12,
.grid-fluid.grid-rtl .width-1-6, .grid-fluid.grid-rtl .width-3-12,
.grid-fluid.grid-rtl .width-1-4, .grid-fluid.grid-rtl .width-4-12,
.grid-fluid.grid-rtl .width-2-6,
.grid-fluid.grid-rtl .width-1-3, .grid-fluid.grid-rtl .width-5-12, .grid-fluid.grid-rtl .width-6-12,
.grid-fluid.grid-rtl .width-3-6,
.grid-fluid.grid-rtl .width-2-4,
.grid-fluid.grid-rtl .width-1-2, .grid-fluid.grid-rtl .width-7-12, .grid-fluid.grid-rtl .width-8-12,
.grid-fluid.grid-rtl .width-4-6,
.grid-fluid.grid-rtl .width-2-3, .grid-fluid.grid-rtl .width-9-12,
.grid-fluid.grid-rtl .width-3-4, .grid-fluid.grid-rtl .width-10-12,
.grid-fluid.grid-rtl .width-5-6, .grid-fluid.grid-rtl .width-11-12, .grid-fluid.grid-rtl .width-12-12,
.grid-fluid.grid-rtl .width-6-6,
.grid-fluid.grid-rtl .width-4-4,
.grid-fluid.grid-rtl .width-3-3,
.grid-fluid.grid-rtl .width-2-2,
.grid-fluid.grid-rtl .width-1-1 {
  float: right;
}
/* line 188, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-rtl .skip-1-12 {
  margin-left: 1rem;
  margin-right: calc(100% / 12);
}
/* line 194, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-rtl .skip-2-12,
.grid-fluid.grid-rtl .skip-1-6 {
  margin-left: 1rem;
  margin-right: calc(100% / 12 * 2);
}
/* line 200, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-rtl .skip-3-12,
.grid-fluid.grid-rtl .skip-1-4 {
  margin-left: 1rem;
  margin-right: calc(100% / 12 * 3);
}
/* line 207, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-rtl .skip-4-12,
.grid-fluid.grid-rtl .skip-2-6,
.grid-fluid.grid-rtl .skip-1-3 {
  margin-left: 1rem;
  margin-right: calc(100% / 12 * 4);
}
/* line 212, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-rtl .skip-5-12 {
  margin-left: 1rem;
  margin-right: calc(100% / 12 * 5);
}
/* line 220, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-rtl .skip-6-12,
.grid-fluid.grid-rtl .skip-3-6,
.grid-fluid.grid-rtl .skip-2-4,
.grid-fluid.grid-rtl .skip-1-2 {
  margin-left: 1rem;
  margin-right: calc(100% / 12 * 6);
}
/* line 225, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-rtl .skip-7-12 {
  margin-left: 1rem;
  margin-right: calc(100% / 12 * 7);
}
/* line 232, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-rtl .skip-8-12,
.grid-fluid.grid-rtl .skip-4-6,
.grid-fluid.grid-rtl .skip-2-3 {
  margin-left: 1rem;
  margin-right: calc(100% / 12 * 8);
}
/* line 238, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-rtl .skip-9-12,
.grid-fluid.grid-rtl .skip-3-4 {
  margin-left: 1rem;
  margin-right: calc(100% / 12 * 9);
}
/* line 244, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-rtl .skip-10-12,
.grid-fluid.grid-rtl .skip-5-6 {
  margin-left: 1rem;
  margin-right: calc(100% / 12 * 10);
}
/* line 254, ../component/grid-fluid/style/_grid-fluid.scss */
.grid-fluid.grid-rtl .skip-12-12,
.grid-fluid.grid-rtl .skip-6-6,
.grid-fluid.grid-rtl .skip-4-4,
.grid-fluid.grid-rtl .skip-3-3,
.grid-fluid.grid-rtl .skip-2-2,
.grid-fluid.grid-rtl .skip-1-1 {
  margin-left: 1rem;
  margin-right: calc(100% / 12 * 11 + 1rem);
}
@media only screen and (max-width: 768px) {
  /* line 262, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-hidden {
    display: none;
  }
  /* line 266, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-width-1-12 {
    width: calc(100% / 12 - 1rem);
  }
  /* line 272, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-width-2-12,
  .grid-fluid .small-width-1-6 {
    width: calc(100% / 12 * 2 - 1rem);
  }
  /* line 278, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-width-3-12,
  .grid-fluid .small-width-1-4 {
    width: calc(100% / 12 * 3 - 1rem);
  }
  /* line 285, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-width-4-12,
  .grid-fluid .small-width-2-6,
  .grid-fluid .small-width-1-3 {
    width: calc(100% / 12 * 4 - 1rem);
  }
  /* line 290, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-width-5-12 {
    width: calc(100% / 12 * 5 - 1rem);
  }
  /* line 298, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-width-6-12,
  .grid-fluid .small-width-3-6,
  .grid-fluid .small-width-2-4,
  .grid-fluid .small-width-1-2 {
    width: calc(100% / 12 * 6 - 1rem);
  }
  /* line 303, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-width-7-12 {
    width: calc(100% / 12 * 7 - 1rem);
  }
  /* line 310, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-width-8-12,
  .grid-fluid .small-width-4-6,
  .grid-fluid .small-width-2-3 {
    width: calc(100% / 12 * 8 - 1rem);
  }
  /* line 316, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-width-9-12,
  .grid-fluid .small-width-3-4 {
    width: calc(100% / 12 * 9 - 1rem);
  }
  /* line 322, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-width-10-12,
  .grid-fluid .small-width-5-6 {
    width: calc(100% / 12 * 10 - 1rem);
  }
  /* line 327, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-width-11-12 {
    width: calc(100% / 12 * 11 - 1rem);
  }
  /* line 337, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-width-12-12,
  .grid-fluid .small-width-6-6,
  .grid-fluid .small-width-4-4,
  .grid-fluid .small-width-3-3,
  .grid-fluid .small-width-2-2,
  .grid-fluid .small-width-1-1 {
    width: calc(100% - 1rem);
  }
  /* line 343, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-skip-1-12 {
    margin-left: calc(100% / 12 + 1rem);
  }
  /* line 348, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-skip-2-12,
  .grid-fluid .small-skip-1-6 {
    margin-left: calc(100% / 12 * 2 + 1rem);
  }
  /* line 353, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-skip-3-12,
  .grid-fluid .small-skip-1-4 {
    margin-left: calc(100% / 12 * 3 + 1rem);
  }
  /* line 359, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-skip-4-12,
  .grid-fluid .small-skip-2-6,
  .grid-fluid .small-skip-1-3 {
    margin-left: calc(100% / 12 * 4 + 1rem);
  }
  /* line 363, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-skip-5-12 {
    margin-left: calc(100% / 12 * 5 + 1rem);
  }
  /* line 370, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-skip-6-12,
  .grid-fluid .small-skip-3-6,
  .grid-fluid .small-skip-2-4,
  .grid-fluid .small-skip-1-2 {
    margin-left: calc(100% / 12 * 6 + 1rem);
  }
  /* line 374, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-skip-7-12 {
    margin-left: calc(100% / 12 * 7 + 1rem);
  }
  /* line 380, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-skip-8-12,
  .grid-fluid .small-skip-4-6,
  .grid-fluid .small-skip-2-3 {
    margin-left: calc(100% / 12 * 8 + 1rem);
  }
  /* line 385, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-skip-9-12,
  .grid-fluid .small-skip-3-4 {
    margin-left: calc(100% / 12 * 9 + 1rem);
  }
  /* line 390, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-skip-10-12,
  .grid-fluid .small-skip-5-6 {
    margin-left: calc(100% / 12 * 10 + 1rem);
  }
  /* line 399, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .small-skip-12-12,
  .grid-fluid .small-skip-6-6,
  .grid-fluid .small-skip-4-4,
  .grid-fluid .small-skip-3-3,
  .grid-fluid .small-skip-2-2,
  .grid-fluid .small-skip-1-1 {
    margin-left: calc(100% / 12 * 11 + 1rem);
  }
  /* line 407, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .small-skip-1-12 {
    margin-left: 1rem;
    margin-right: calc(100% / 12);
  }
  /* line 413, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .small-skip-2-12,
  .grid-fluid.grid-rtl .small-skip-1-6 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 2);
  }
  /* line 419, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .small-skip-3-12,
  .grid-fluid.grid-rtl .small-skip-1-4 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 3);
  }
  /* line 426, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .small-skip-4-12,
  .grid-fluid.grid-rtl .small-skip-2-6,
  .grid-fluid.grid-rtl .small-skip-1-3 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 4);
  }
  /* line 431, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .small-skip-5-12 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 5);
  }
  /* line 439, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .small-skip-6-12,
  .grid-fluid.grid-rtl .small-skip-3-6,
  .grid-fluid.grid-rtl .small-skip-2-4,
  .grid-fluid.grid-rtl .small-skip-1-2 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 6);
  }
  /* line 444, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .small-skip-7-12 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 7);
  }
  /* line 451, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .small-skip-8-12,
  .grid-fluid.grid-rtl .small-skip-4-6,
  .grid-fluid.grid-rtl .small-skip-2-3 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 8);
  }
  /* line 457, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .small-skip-9-12,
  .grid-fluid.grid-rtl .small-skip-3-4 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 9);
  }
  /* line 463, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .small-skip-10-12,
  .grid-fluid.grid-rtl .small-skip-5-6 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 10);
  }
  /* line 473, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .small-skip-12-12,
  .grid-fluid.grid-rtl .small-skip-6-6,
  .grid-fluid.grid-rtl .small-skip-4-4,
  .grid-fluid.grid-rtl .small-skip-3-3,
  .grid-fluid.grid-rtl .small-skip-2-2,
  .grid-fluid.grid-rtl .small-skip-1-1 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 11 + 1rem);
  }
}
@media only screen and (min-width: 1440px) {
  /* line 482, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-hidden {
    display: none;
  }
  /* line 486, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-width-1-12 {
    width: calc(100% / 12 - 1rem);
  }
  /* line 492, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-width-2-12,
  .grid-fluid .large-width-1-6 {
    width: calc(100% / 12 * 2 - 1rem);
  }
  /* line 498, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-width-3-12,
  .grid-fluid .large-width-1-4 {
    width: calc(100% / 12 * 3 - 1rem);
  }
  /* line 505, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-width-4-12,
  .grid-fluid .large-width-2-6,
  .grid-fluid .large-width-1-3 {
    width: calc(100% / 12 * 4 - 1rem);
  }
  /* line 510, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-width-5-12 {
    width: calc(100% / 12 * 5 - 1rem);
  }
  /* line 518, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-width-6-12,
  .grid-fluid .large-width-3-6,
  .grid-fluid .large-width-2-4,
  .grid-fluid .large-width-1-2 {
    width: calc(100% / 12 * 6 - 1rem);
  }
  /* line 523, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-width-7-12 {
    width: calc(100% / 12 * 7 - 1rem);
  }
  /* line 530, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-width-8-12,
  .grid-fluid .large-width-4-6,
  .grid-fluid .large-width-2-3 {
    width: calc(100% / 12 * 8 - 1rem);
  }
  /* line 536, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-width-9-12,
  .grid-fluid .large-width-3-4 {
    width: calc(100% / 12 * 9 - 1rem);
  }
  /* line 542, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-width-10-12,
  .grid-fluid .large-width-5-6 {
    width: calc(100% / 12 * 10 - 1rem);
  }
  /* line 547, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-width-11-12 {
    width: calc(100% / 12 * 11 - 1rem);
  }
  /* line 557, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-width-12-12,
  .grid-fluid .large-width-6-6,
  .grid-fluid .large-width-4-4,
  .grid-fluid .large-width-3-3,
  .grid-fluid .large-width-2-2,
  .grid-fluid .large-width-1-1 {
    width: calc(100% - 1rem);
  }
  /* line 563, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-skip-1-12 {
    margin-left: calc(100% / 12 + 1rem);
  }
  /* line 568, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-skip-2-12,
  .grid-fluid .large-skip-1-6 {
    margin-left: calc(100% / 12 * 2 + 1rem);
  }
  /* line 573, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-skip-3-12,
  .grid-fluid .large-skip-1-4 {
    margin-left: calc(100% / 12 * 3 + 1rem);
  }
  /* line 579, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-skip-4-12,
  .grid-fluid .large-skip-2-6,
  .grid-fluid .large-skip-1-3 {
    margin-left: calc(100% / 12 * 4 + 1rem);
  }
  /* line 583, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-skip-5-12 {
    margin-left: calc(100% / 12 * 5 + 1rem);
  }
  /* line 590, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-skip-6-12,
  .grid-fluid .large-skip-3-6,
  .grid-fluid .large-skip-2-4,
  .grid-fluid .large-skip-1-2 {
    margin-left: calc(100% / 12 * 6 + 1rem);
  }
  /* line 594, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-skip-7-12 {
    margin-left: calc(100% / 12 * 7 + 1rem);
  }
  /* line 600, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-skip-8-12,
  .grid-fluid .large-skip-4-6,
  .grid-fluid .large-skip-2-3 {
    margin-left: calc(100% / 12 * 8 + 1rem);
  }
  /* line 605, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-skip-9-12,
  .grid-fluid .large-skip-3-4 {
    margin-left: calc(100% / 12 * 9 + 1rem);
  }
  /* line 610, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-skip-10-12,
  .grid-fluid .large-skip-5-6 {
    margin-left: calc(100% / 12 * 10 + 1rem);
  }
  /* line 619, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid .large-skip-12-12,
  .grid-fluid .large-skip-6-6,
  .grid-fluid .large-skip-4-4,
  .grid-fluid .large-skip-3-3,
  .grid-fluid .large-skip-2-2,
  .grid-fluid .large-skip-1-1 {
    margin-left: calc(100% / 12 * 11 + 1rem);
  }
  /* line 627, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .large-skip-1-12 {
    margin-left: 1rem;
    margin-right: calc(100% / 12);
  }
  /* line 633, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .large-skip-2-12,
  .grid-fluid.grid-rtl .large-skip-1-6 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 2);
  }
  /* line 639, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .large-skip-3-12,
  .grid-fluid.grid-rtl .large-skip-1-4 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 3);
  }
  /* line 646, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .large-skip-4-12,
  .grid-fluid.grid-rtl .large-skip-2-6,
  .grid-fluid.grid-rtl .large-skip-1-3 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 4);
  }
  /* line 651, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .large-skip-5-12 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 5);
  }
  /* line 659, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .large-skip-6-12,
  .grid-fluid.grid-rtl .large-skip-3-6,
  .grid-fluid.grid-rtl .large-skip-2-4,
  .grid-fluid.grid-rtl .large-skip-1-2 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 6);
  }
  /* line 664, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .large-skip-7-12 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 7);
  }
  /* line 671, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .large-skip-8-12,
  .grid-fluid.grid-rtl .large-skip-4-6,
  .grid-fluid.grid-rtl .large-skip-2-3 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 8);
  }
  /* line 677, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .large-skip-9-12,
  .grid-fluid.grid-rtl .large-skip-3-4 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 9);
  }
  /* line 683, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .large-skip-10-12,
  .grid-fluid.grid-rtl .large-skip-5-6 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 10);
  }
  /* line 693, ../component/grid-fluid/style/_grid-fluid.scss */
  .grid-fluid.grid-rtl .large-skip-12-12,
  .grid-fluid.grid-rtl .large-skip-6-6,
  .grid-fluid.grid-rtl .large-skip-4-4,
  .grid-fluid.grid-rtl .large-skip-3-3,
  .grid-fluid.grid-rtl .large-skip-2-2,
  .grid-fluid.grid-rtl .large-skip-1-1 {
    margin-left: 1rem;
    margin-right: calc(100% / 12 * 11 + 1rem);
  }
}

/**
 * Header
 */
/* line 5, ../component/header/style/_header.scss */
.header {
  background-color: #888888;
  color: white;
  margin-bottom: 2rem;
  overflow: hidden;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
/* line 13, ../component/header/style/_header.scss */
.header *:last-child {
  margin-bottom: 0;
}

/**
 * Button
 */
/* line 5, ../element/button/style/_button.scss */
.button, .button-green {
  background-color: #888888;
  border: none;
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin: 0 0 1rem;
  line-height: inherit;
  padding: 0.5rem 1rem;
  text-decoration: none;
  vertical-align: bottom;
}
/* line 18, ../element/button/style/_button.scss */
.button:hover, .button-green:hover {
  background-color: #a2a2a2;
}

/* line 23, ../element/button/style/_button.scss */
.button-green {
  background-color: olivedrab;
}
/* line 26, ../element/button/style/_button.scss */
.button-green:hover {
  background-color: #8ab72d;
}

/**
 * List
 */
/* line 6, ../element/list/style/_list.scss */
.ul,
.wysiwyg ul {
  padding-left: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

/* line 12, ../element/list/style/_list.scss */
.ol,
.wysiwyg ol {
  padding-left: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

/* line 18, ../element/list/style/_list.scss */
.dl,
.wysiwyg dl {
  margin-bottom: 1rem;
  margin-top: 0;
}
/* line 21, ../element/list/style/_list.scss */
.dl dt,
.wysiwyg dl dt {
  font-weight: bold;
}
/* line 25, ../element/list/style/_list.scss */
.dl dd,
.wysiwyg dl dd {
  margin-left: 2.5rem;
}

/**
 * HTML
 */
/* line 5, ../element/text/style/_text.scss */
html {
  font-family: "Arial";
  line-height: 1.2;
  -webkit-text-size-adjust: none;
}

@media only screen and (max-width: 768px) {
  /* line 13, ../element/text/style/_text.scss */
  html {
    font-size: small;
  }
}
@media only screen and (min-width: 1441px) {
  /* line 20, ../element/text/style/_text.scss */
  html {
    font-size: large;
  }
}
/**
 * Heading
 */
/* line 31, ../element/text/style/_text.scss */
.h1,
.wysiwyg h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

/* line 36, ../element/text/style/_text.scss */
.h2,
.wysiwyg h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

/* line 41, ../element/text/style/_text.scss */
.h3,
.wysiwyg h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 0;
  color: #555555;
}

/* line 47, ../element/text/style/_text.scss */
.h4,
.wysiwyg h4 {
  margin-bottom: 1rem;
  margin-top: 0;
}

/**
 * Paragrapgh
 */
/* line 57, ../element/text/style/_text.scss */
.p, .p-large, .p-italic,
.wysiwyg p {
  margin-bottom: 1rem;
  margin-top: 0;
}

/* line 61, ../element/text/style/_text.scss */
.p-large {
  font-size: 1.5rem;
}

/* line 66, ../element/text/style/_text.scss */
.p-italic {
  font-style: italic;
}

/**
 * Other
 */
/* line 77, ../element/text/style/_text.scss */
.hr, .hr-connected,
.wysiwyg hr {
  background-color: #555555;
  border: none;
  height: 1px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/* line 85, ../element/text/style/_text.scss */
.hr-connected {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
